html, body {
  background: blue;
}

nav {
  display: flex;
  place-content: space-between;
  background: orange;
}

nav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px 10px;
  text-decoration: none;
}

nav a:hover {
  background-color: black;
  color: white;
}
